<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gossip</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/login_logo24.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v1/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="300" height="300"
viewBox="0 0 172 172"
style=" fill:#000000;"><defs><linearGradient x1="52.40625" y1="52.89269" x2="52.40625" y2="68.36463" gradientUnits="userSpaceOnUse" id="color-1_G4HSGsaDTmbA_gr1"><stop offset="0" stop-color="#d9f7ee"></stop><stop offset="1" stop-color="#2df19b"></stop></linearGradient><linearGradient x1="86" y1="23.15819" x2="86" y2="137.94131" gradientUnits="userSpaceOnUse" id="color-2_G4HSGsaDTmbA_gr2"><stop offset="0" stop-color="#7de3c3"></stop><stop offset="1" stop-color="#0ba360"></stop></linearGradient><linearGradient x1="65.84375" y1="23.15819" x2="65.84375" y2="137.94131" gradientUnits="userSpaceOnUse" id="color-3_G4HSGsaDTmbA_gr3"><stop offset="0" stop-color="#7de3c3"></stop><stop offset="1" stop-color="#0ba360"></stop></linearGradient><linearGradient x1="57.78125" y1="23.15819" x2="57.78125" y2="137.94131" gradientUnits="userSpaceOnUse" id="color-4_G4HSGsaDTmbA_gr4"><stop offset="0" stop-color="#7de3c3"></stop><stop offset="1" stop-color="#0ba360"></stop></linearGradient><linearGradient x1="65.84375" y1="23.15819" x2="65.84375" y2="137.94131" gradientUnits="userSpaceOnUse" id="color-5_G4HSGsaDTmbA_gr5"><stop offset="0" stop-color="#7de3c3"></stop><stop offset="1" stop-color="#0ba360"></stop></linearGradient></defs><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M69.42619,69.875h-34.03719c-1.73344,0 -3.139,-1.0535 -3.139,-2.35425v-11.4165c0,-1.30075 1.40556,-2.35425 3.139,-2.35425h34.03719c1.73344,0 3.13631,1.0535 3.13631,2.35156v11.42188c0,1.29806 -1.40287,2.35156 -3.13631,2.35156z" fill="url(#color-1_G4HSGsaDTmbA_gr1)"></path><g><path d="M147.8125,51.0625h-32.25v-8.03831c0,-2.96431 -2.41069,-5.375 -5.375,-5.375h-48.375v-11.21225c0,-3.32444 -1.90813,-6.17856 -4.97994,-7.44975c-3.07181,-1.26581 -6.43656,-0.602 -8.78544,1.74956l-16.91244,16.90975h-6.94719c-4.44513,0 -8.0625,3.61738 -8.0625,8.0625v64.5c0,4.44512 3.61737,8.0625 8.0625,8.0625h29.5625v13.416c0,2.96431 2.41069,5.375 5.375,5.375h51.0625v11.20956c0,3.32444 1.90812,6.17856 4.97725,7.44975c1.02931,0.42731 2.09087,0.63425 3.13631,0.63425c2.07475,0 4.08769,-0.81969 5.65181,-2.38112l16.90975,-16.91244h6.94987c4.44512,0 8.0625,-3.61738 8.0625,-8.0625v-69.875c0,-4.44512 -3.61737,-8.0625 -8.0625,-8.0625zM21.5,110.21169v-64.5c0,-1.48081 1.204,-2.6875 2.6875,-2.6875h9.17513l18.48731,-18.48463c1.17981,-1.17713 2.53969,-0.74444 2.92938,-0.58319c0.38969,0.16125 1.65819,0.81431 1.65819,2.48056v16.58456h53.75v67.1875c0,1.48081 -1.204,2.6875 -2.6875,2.6875h-83.3125c-1.4835,0.00269 -2.6875,-1.204 -2.6875,-2.68481zM150.5,129c0,1.48081 -1.204,2.6875 -2.6875,2.6875h-9.17513l-18.48731,18.48731c-1.17444,1.17712 -2.537,0.74444 -2.92938,0.58319c-0.387,-0.16125 -1.65819,-0.817 -1.65819,-2.48594v-16.58456h-56.4375v-13.41331h48.375c4.44512,0 8.0625,-3.61738 8.0625,-8.0625v-53.77419h32.25c1.4835,0 2.6875,1.20669 2.6875,2.6875z" fill="url(#color-2_G4HSGsaDTmbA_gr2)"></path><rect x="12" y="28" transform="scale(2.6875,2.6875)" width="25" height="2" fill="url(#color-3_G4HSGsaDTmbA_gr3)"></rect><rect x="12" y="32" transform="scale(2.6875,2.6875)" width="19" height="2" fill="url(#color-4_G4HSGsaDTmbA_gr4)"></rect><rect x="12" y="36" transform="scale(2.6875,2.6875)" width="25" height="2" fill="url(#color-5_G4HSGsaDTmbA_gr5)"></rect></g></g></g></svg>
				</div>

				<form method="post" action="/create-account" class="login100-form validate-form">
					<span class="login100-form-title">
						GOSSIP
					</span>
                    <span class="login100-form-filler">Sign Up</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input required  class="input100" type="email" name="username" placeholder="Email...">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input required minlength="6" class="input100" type="password" name="password" placeholder="Password...">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "Name is required">
						<input required class="input100" type="text" name="name" placeholder="Name...">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn p-t-25">
						<button type="submit" class="login100-form-btn">
							Register
						</button>
					</div>

					<p class="text_filler">OR</p>

					<div class="text-center p-t-40">
						<a class="txt2" href="/login">
							Login
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
	//<script src="/js/main.js"></script>

</body>
</html>